/* Estilo da pagina index.html */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    cursor: url('/assets/cursor/cursor.cur'), auto;
    font-family: 'Poppins', sans-serif;
}


.cor-letra{
    color: #353b48;
}

.justify{
    text-align: justify;
}

.center{
    text-align: center;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li{
    display: inline;
    padding: 15px;
}


#menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover{
    color: grey;
}

.p-30{
    padding: 30px;
}


.br-50{
    border-radius: 50%;
}

.wh-300{
    width: 300px;
    height: 300px;
}

.tm-social{
    width: 50px;
    height: 50px;
}

.mb-50{
    margin-bottom: 50px;
}

/* Estilo da pagina contato.html */

.ml-50{
    margin-left: 50px;
}

/*
    implementação de outro projeto
*/

.checkbox{
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label .ball{
    transform: translateX(24px);
}

.label {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
    
    top: -310px;
    right: -190px;
}

.ball{
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transition: transform 0.2s linear;
}

.fa-moon-o{
    color: #f1c40f;
}

.fa-sun-o{
    color: #f39c12;
}