/* Estilo da pagina index.html */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    cursor: url('/assets/cursor/cursor.cur'), auto;
    font-family: 'Poppins', sans-serif;
}

.cor-letra{
    color: #353b48;
}

.justify{
    text-align: justify;
}

.center{
    text-align: center;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li{
    display: inline;
    padding: 15px;
}


#menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover{
    color: grey;
}

.p-30{
    padding: 30px;
}


.br-50{
    border-radius: 50%;
}

.wh-300{
    width: 300px;
    height: 300px;
}

.tm-social{
    width: 50px;
    height: 50px;
}

.mb-50{
    margin-bottom: 50px;
}

/* Estilo da pagina contato.html */

.ml-50{
    margin-left: 50px;
}